.projects {
  article {
    max-width: $prose-width;
    margin: auto;
    padding: 4em;

    .image {
    }
    img {
      float: left;
      max-width: 15em;
      padding: 1em;
    }
    .details {
      padding: 1em;
    }
  }

  .wrapper {
    width: 100%;
    position: relative;
    padding: 3% 2% 4%;

    &:nth-child(2n) {
      color: white;
      img { float: right; }
    }

    &:nth-child(2) {
      background-color: $purple;

      &:after {
        background: $purple;
      }
    }

    &:nth-child(4) {
      background-color: $red;
      &:after {
        background-color: $red;
      }
    }

    &:nth-child(6) {
      background-color: $green;
      &:after {
        background-color: $green;
      }
    }

    // This creates the oblique effect
    &:after {
      width: 100%;
      height: 50px;
      top: -17px;
      left: 0;
      content: '';
      position: absolute;
      display: block;
      writing-mode: lr-tb;
    }

    &:nth-child(2n+2):after {
      -webkit-transform: rotate(359deg);
      -moz-transform: rotate(359deg);
      -o-transform: rotate(359deg);
    }
    &:nth-child(2n+3):after {
      background-color: white;
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -o-transform: rotate(1deg);
    }
  }
}
