@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// Variables
$blue: #3498db;  // e.g. header
$dark-blue: #2c3e50; // e.g. footer

$gray: #d9d9d9;


// Some nice flat colors
$blue:          #6692a6;
$green:         #61a777;
$orange:        #ce6700;
$pink:          #ce00cb;
$purple:        #7761a7;
$yellow:        #ccce00;
$red:           #ce0000;

// Variables - layout
$header-height: 10em;

$page-max-width: 80em;
$page-padding: 8%;
$hero-height: 25em;

$prose-width: 50em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

ul {
  list-style: none;
}

//
// Site header
//
.site-header {
  background: $blue;
  color: white;
  height: $header-height;
}
.site-header-inner {
  max-width: $page-max-width;
  padding: 0 $page-padding;
  margin: 0 auto;
  position: relative;
}
.site-details {
  float: right;
  text-align: right;
  margin-top: 2.5em;

  h1 { font-size: 2.2em; font-weight: normal; }
  h2 { font-size: 1em; font-weight: normal; }

  a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus, &:visited {
      color: #fff;
    }
  }
}
.logo {
  height: 15em;
  width: 15em;
  padding: 3em 2em;
  position: absolute;
  z-index: 999;

  img {
    border-radius: 50%;
    height: 10em;
  }
}

// .site-nav {
//   float: right;

//   li {
//     display: inline-block;
//     padding-right: 1em;
//     line-height: $header-height;

//     &.active a {
//       border-bottom: 2px solid;
//       padding-bottom: 0.1em;
//     }
//     a {
//       outline: 0;
//       text-decoration: none;
//       color: white;
//       border-bottom: 2px solid transparent;
//       padding-bottom: 0.25em;

//       &:focus,
//       &:hover {
//         border-bottom: 2px solid;
//         padding-bottom: 0.1em;
//       }
//     }
//   }
// }

@import 'projects';
