@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import "font-awesome";

// Variables
$blue: #3498db;  // e.g. header
$dark-blue: #2c3e50; // e.g. footer

$gray: #d9d9d9;


// Some nice flat colors
$blue:          #6692a6;
$green:         #61a777;
$orange:        #ce6700;
$pink:          #ce00cb;
$purple:        #7761a7;
$yellow:        #ccce00;
$red:           #ce0000;

// Variables - layout
$header-height: 10em;

$page-max-width: 80em;
$page-side-padding: 8%;
$hero-height: 25em;

$prose-width: 50em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

ul {
  list-style: none;
}

//
// Site header
//
.site-header {
  background: $blue;
  color: white;
  height: $header-height;
}
.site-header-inner {
  max-width: $page-max-width;
  padding: 0 $page-side-padding;
  margin: 0 auto;
  position: relative;
}
.site-details {
  float: right;
  text-align: right;
  margin-top: 2.5em;

  h1 { font-size: 2.2em; font-weight: normal; }
  h2 { font-size: 1em; font-weight: normal; }

  a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus, &:visited {
      color: #fff;
    }
  }
}
.logo {
  height: 15em;
  width: 15em;
  padding: 3em 2em;
  position: absolute;
  z-index: 999;

  img {
    border-radius: 50%;
    height: 10em;
  }
}


//
// Reusable page elements
//
.column-content {
  max-width: $page-max-width;
  padding-left: $page-side-padding;
  padding-right: $page-side-padding;
  margin-left: auto;
  margin-right: auto;
}
.split-column {
  width: 50%;
  float: left;
}
.split-column:nth-child(even) {
  padding-right: 2em;
}
.split-column:nth-child(odd) {
  padding-left: 2em;
}
.prose {
  max-width: $prose-width;
  margin-left: auto;
  margin-right: auto;

  ul {
    list-style-type: disc;
  }
}


//
// Helper classes
//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.no-top {
  margin-top: 0 !important; // .no-top should trump all other margin declarations
}
.center-text {
  text-align: center;
}


//
// Site footer
//
.site-footer {
  background-color: black;

  .site-footer-inner {
    color: white;
    display: table;
    padding: 4em;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about-me {
  display: table-cell;
  vertical-align: top;
  white-space: normal;
  width: auto;
}

.external-links {
  display: table-cell;
  font-size: 2.5em;
  padding-left: 2em;
  width: 1%;

  a:hover {
    .fa-twitter-square  { color: #55acee; }
    .fa-linkedin-square { color: #007ab9; }
    .fa-github-square   { color: #1f76b6; }
  }
}


// .site-nav {
//   float: right;

//   li {
//     display: inline-block;
//     padding-right: 1em;
//     line-height: $header-height;

//     &.active a {
//       border-bottom: 2px solid;
//       padding-bottom: 0.1em;
//     }
//     a {
//       outline: 0;
//       text-decoration: none;
//       color: white;
//       border-bottom: 2px solid transparent;
//       padding-bottom: 0.25em;

//       &:focus,
//       &:hover {
//         border-bottom: 2px solid;
//         padding-bottom: 0.1em;
//       }
//     }
//   }
// }

@import 'projects';
